<h1>Editing child</h1>

<%= render 'form' %>

<button type="button" class="btn btn-success"><%= link_to 'Show', @child %></button>
<button type="button" class="btn btn-info"><%= link_to 'Back', children_path %></button>