<h1>Editing mother</h1>

<%= render 'form' %>

<button type="button" class="btn btn-danger"><%= link_to 'Show', @mother %></button>
<button type="button" class="btn btn-success"><%= link_to 'Back', mothers_path %></button>

