
<p>
<button type="button" class="btn btn-primary btn-lg"><%= link_to "Mothers", mothers_path %></button>
<button type="button" class="btn btn-danger"><%= link_to "Children", children_path %></button>
<button type="button" class="btn btn-warning"><%= link_to "Buket", bukets_path %></button>
</p>